<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= image_tag book.get_image %>
  <h4>Title</h4>
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  <% end %>
   <h4>Opinion</h4>
    <%= book.body %>
</div>
<% end %>
